# Ignore build directory
build/

# Ignore Visual Studio Code settings
.vscode/

# Ignore common C++ build artifacts
*.o
*.obj
*.so
*.a
*.lib
*.dll
*.exe
*.out

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore other common files
*.log
*.tmp
*.bak
